#home {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 5rem 5rem 7rem 5rem;
  width: 100%;
  background-color: rgba(164, 202, 218, 0.1);
}

.homeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  z-index: 2;
  text-transform: uppercase;
}

.home-div-img {
  display: flex;
  justify-content: center;
  width: 50%;
}

.profilbild {
  width: 50%;
}

.text-line3 {
  margin: 1.5rem 0 0 0;
  font-size: 7rem;
  line-height: 6rem;
  color: transparent; /* Transparenter Text */
  text-shadow: 2px 2px 0 #5d878a, -2px -2px 0 #5d878a, 2px -2px 0 #5d878a,
    -2px 2px 0 #5d878a; /* Randeffekt */
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.text-line4 {
  margin: 0;
  font-size: 7rem;
  line-height: 6rem;
  color: transparent; /* Transparenter Text */
  text-shadow: 2px 2px 0 #5d878a, -2px -2px 0 #5d878a, 2px -2px 0 #5d878a,
    -2px 2px 0 #5d878a; /* Randeffekt */
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.home-p {
  width: 90%;
  margin: 1.5rem 0;
  text-align: center;
  text-transform: none;
}

.home-div-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.button-1 {
  margin-top: 3rem;
  width: auto;
  background: linear-gradient(
    180deg,
    rgb(217, 125, 72) 0%,
    rgb(224, 147, 101) 100%
  );
  box-shadow: 0rem 0rem 1rem rgb(217, 125, 72);
}

.button-1 a {
  font-size: 1.1rem;
}

#text-line1 {
  font-weight: 200;
}

.typed-text {
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0px;
  line-height: 1;
}

.typed-text {
  font-weight: 600;
  margin: 0;
}

@media (max-width: 1700px) {
  .homeText {
    width: 60%;
  }

  .home-div-img {
    width: 40%;
  }

  .profilbild {
    width: 70%;
  }
}

@media (max-width: 1400px) {
  .homeText {
    width: 60%;
  }

  .home-div-img {
    width: 40%;
  }

  .text-line3,
  .text-line4 {
    font-size: 5rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 1400px) {
  .homeText {
    width: 60%;
  }

  .home-div-img {
    width: 40%;
  }

  .text-line3,
  .text-line4 {
    font-size: 5rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 1000px) {
  #home {
    padding: 4rem 5rem 9rem 5rem;
  }

  .homeText {
    width: 70%;
  }

  .home-div-img {
    width: 30%;
  }

  .profilbild {
    width: 90%;
  }
}
@media (max-width: 840px) and (min-height: 1000px) {
  #home {
    padding: 10rem 2rem 10rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .button-1 a {
    font-size: 1.3rem;
  }

  #text-line1,
  #text-line2 {
    font-size: 2.5rem;
  }

  .text-line3 {
    margin-top: 3rem;
  }  

  .homeText {
    text-align: center;
    width: 100%;
  }

  .home-div-button{
    align-items: center;
    justify-content: center;
  }

  .home-div-img {
    margin-top: 2rem;
    width: 40%;
    order: 2;
  }

}

@media (max-width: 840px) and (max-height: 999px) {

  #home {
    padding: 5rem 2rem 10rem 2rem;
  }

  .text-line3 {
    margin-top: 1rem;
  }

  .text-line3,
  .text-line4 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .home-p {
    margin: 3rem 0;
  }
}

@media (max-width: 650px) {
  #home {
    flex-direction: column;
  }

  .homeText {
    width: 100%;
    text-align: center;
  }

  .home-div-img {
    display: none;
  }

  .home-div-button {
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
  }

  .button-1 {
    margin: 0;
  }

  .home-contact {
    margin-right: 30%;
  }

  .home-portfolio {
    margin-left: 30%;
  }
}

@media (max-width: 480px) {
  #home {
    padding: 10rem 2rem 10rem 2rem;
  }

  .button-1 a {
    font-size: 1.5rem;
  }

  .home-p {
    margin: 4rem 0;
  }

  .text-line3 {
    margin-top: 3rem;
  }

  #text-line1,
  #text-line2 {
    font-size: 3rem;
  }

  .text-line3,
  .text-line4 {
    font-size: 5rem;
    line-height: 4rem;
    text-shadow: 1px 1px 0 #5d878a, -1px -1px 0 #5d878a, 1px -1px 0 #5d878a,
      -1px 1px 0 #5d878a; /* Randeffekt */
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  }

  .home-div-button {
    margin-top: 8rem;
    gap: 3rem;
  }

  .home-contact {
    margin-right: 0;
  }

  .home-portfolio {
    margin-left: 0;
  }
}
