#my-skills {
  padding: 2rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%;
  transform: translateX(-50%);
  transition: opacity 1s, transform 1s;
  background-color: rgba(164, 202, 218, 0.1);
  overflow: hidden;
}

#my-skills.animated {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s, transform 1s;
  overflow: hidden;
}
  
  .my-skills-left {
    margin: 0 0.5vw;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  .my-skills-right {
    margin: 10vw;
    display: flex;
  }
  
  .icon-row p {
    margin: 0px 10px;
    font-size: 1rem;
    color: #3b4c4f;
  }
  
  .skill-icons {
    color: #5d878a;
  }
  
  #my-skills .fa-brands,
  .fa-solid {
    font-size: 55px;
    margin: 20px 10px 5px 10px;
  }
  
  @media (max-width: 900px) {

    .my-skills-right {
      display: flex;
    }
  
    .icon-row p {
      margin: 0px 10px;
    }
  
    #my-skills .fa-brands,
    .fa-solid {
      font-size: 40px;
      margin: 20px 10px 5px 10px;
    }
  }
  
  @media (max-width: 640px) {
    #my-skills {
      padding: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .icon-row p {
      font-size: 1.5rem;
    }
  
    h2 {
      text-align: center;
    }
  }