[submodule "Portfolio"]
    path = Portfolio
    url = https://github.com/davewesl/Portfolio.git

[submodule "Dasmoto-site"]
    path = Dasmoto-site
    url = https://github.com/DaveWesl/Dasmoto-site

[submodule "Excursion"]
    path = Excursion
    url = https://github.com/DaveWesl/Excursion-2

[submodule "Tea-Cozy"]
    path = Tea-Cozy
    url = https://github.com/DaveWesl/Tea-Cozy

[submodule "bmi-calculator"]
    path = bmi-calculator
    url = https://github.com/DaveWesl/bmi-calculator

[submodule "colmar-acadamy"]
    path = colmar-acadamy
    url = https://github.com/DaveWesl/colmar-acadamy

[submodule "advice-generator"]
    path = advice-generator
    url = https://github.com/DaveWesl/advice-generator

[submodule "connect-four-game"]
    path = connect-four-game
    url = https://github.com/DaveWesl/connect-four-game

[submodule "audiophile-ecommerce-website"]
    path = audiophile-ecommerce-website
    url = https://github.com/DaveWesl/audiophile-ecommerce-website
    
[submodule "entertainment-web-app"]
path = entertainment-web-app
url = https://github.com/DaveWesl/entertainment-web-app
    