#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 5rem;
    margin-bottom: 5rem;
  }
  
  #portfolio h1 {
    grid-column: 1 / -1; /* Span all columns */
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 1rem 0 0 0;
  }
  
  #grid-container .language {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0;
    width: 100%;
    color: #3b4c4f;
    align-items: center;
    font-weight: bold;
    justify-content: center;
  }
  
  #grid-container {
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-top: 100px;
  }
  
  .portfolio-container-projektinfos {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio-container-projektinfos h3 {
    color: #5d878a;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-decoration: none;
  }
  
  .project-description {
    width: 80%;
  }
  
  .projects img {
    max-width: 85%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
  }
  
  .projects:hover img {
    transform: scale(1.05); /* Adjust the scale factor for the beat effect */
  }
  
  #grid-container a {
    width: 95%;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  @media (max-width: 1000px) {
    #portfolio {
      height: auto;
      padding: 2rem;
    }
  
    #grid-container img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .project-description {
      width: 100%;
    }
  
    #grid-container {
      padding: 3rem 1rem;
    }
  }
  
  @media (max-width: 800px) {
    #portfolio {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
      margin-top: 3rem;
      padding: 1rem;
    }
  
    .project-description {
      width: 80%;
    }
  
    #grid-container {
      padding: 3rem 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-top: 5rem;
    }
  
    #grid-container img {
      max-width: 80%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
  